body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #111;
  color: #ff0000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  width: 80%;
  padding: 20px 10%;
}

.linkLogo img {
  height: 86px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.linkLogo img:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #ff0000;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
}

.link:hover {
  color: #ffcccc;

  .link::after {
    content: '';
    display: block;
    height: 2px;
    background: #ff0000;
    width: 0;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
  }

  .link:hover::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;

    width: 90%;
    padding: 2% 5%;
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0;
    justify-content: center;
  }

  .link {
    margin: 0 10px;
  }
}
